:root {
  --color-bg: rgb(245, 245, 245);
  --color-text: rgb(30, 32, 34);
  --color-hover: rgb(185, 185, 185);
  --color-edit: rgb(255, 254, 154);
  --color-add: rgb(159, 255, 154);
  --color-delete: rgb(255, 154, 154);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(/assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Inconsolata-Bold";
  src: url(/assets/fonts/Inconsolata-Bold.ttf);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Roboto-Regular";
}

input {
  font-family: "Roboto-Regular";
  font-size: 15px;
  padding: 5px;
  margin: 1px 5px;
}

.text_edit_1 {
  font-family: "Roboto-Regular";
  font-size: 25px;
  padding: 5px;
  margin: 1px 5px;
  width: 750px;
}

.container_title_m {
  text-align: center;
  font-family: "Roboto-Black";
  font-size: 30px;
}

.container_master {
  padding: 20px;
  text-align: center;
  margin: 40px;
  border: 2px solid var(--color-text);
  border-radius: 20px;
}

.container_title {
  font-size: 30px;
  font-family: "Roboto-Medium";
}

.container_title img {
  height: 100px;
  width: 100px;
}

.container_data:hover {
  color: var(--color-hover)
}
.container_positions_title {
  font-size: 20px;
  font-family: "Roboto-Bold";
}

.container_candidate_name {
  font-family: "Roboto-Bold";
}

.container_candidate_name:hover {
  color: var(--color-hover)
}

.container_vote_count {
  margin-bottom: 20px;
}

.button_add{
  background: var(--color-add);
  color: var(--color-text);
  font-family: "Roboto-Medium";
  font-size: 20px;
  border: 0;
  padding: 5px;
  margin: 5px;
}

.button_edit{
  background: var(--color-edit);
  color: var(--color-text);
  font-family: "Roboto-Medium";
  font-size: 20px;
  border: 0;
  padding: 5px;
  margin: 5px;
}

.button_delete{
  background: var(--color-delete);
  color: var(--color-text);
  font-family: "Roboto-Medium";
  font-size: 20px;
  border: 0;
  padding: 5px;
  margin: 5px;
}

.button_add:hover{
  background: var(--color-hover)
}

.button_edit:hover{
  background: var(--color-hover)
}

.button_delete:hover{
  background: var(--color-hover)
}
