:root {
  --color-bg: rgb(245, 245, 245);
  --color-text: rgb(30, 32, 34);
  --color-hover: rgb(185, 185, 185);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(/assets/fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Inconsolata-Bold";
  src: url(/assets/fonts/Inconsolata-Bold.ttf);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Roboto-Regular";
}

.container_title img {
  width: 500px;
}

.container_master {
  text-align: center;
  margin: 50px 400px;
}

.container_inst {
  font-family: "Roboto-Bold";
  letter-spacing: 3px;
}

.container_elec {
  font-family: "Roboto-Black";
  font-size: 30px;
}

.container_ballot {
  border: 2px solid var(--color-text);
  border-radius: 10px;
}

.container_position {
  margin: 10px;
}

.container_position_title {
  font-family: "Roboto-Medium"
}

.container_candidates {
  margin: 10px;
  border: 1px solid var(--color-text);
  border-radius: 7px;
}

.container_candidate {
  margin: 5px;
  padding: 10px 5px;
}

.container_candidate_input {
  text-align: left;
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_candidate_input input {
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color-bg);
  border: 2px solid var(--color-text);
  border-radius: 50%
}

.container_candidate_input:hover input~.checkmark {
  background-color: var(--color-hover)
}

.container_candidate_input input:checked~.checkmark {
  background-color: var(--color-bg);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_candidate_input input:checked ~ .checkmark:after {
  display: block;
}

.container_candidate_input .checkmark:after {
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: var(--color-text);
}

.button_submit {
  background: var(--color-text);
  color: var(--color-bg);
  font-family: "Roboto-Medium";
  border: 1px solid var(--color-text);
  font-size: 20px;
  padding: 10px;
  letter-spacing: 3px;
  margin: 20px;
}

.button_submit:hover {
  background: var(--color-hover)
}
